In [1]:
%matplotlib inline

## ザ・プレデターのデータを読み込む

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

df = pd.read_csv('../data/the_predator.csv',dtype={0: str,1:str}, parse_dates=[0])
# df = pd.read_csv('../data/the_predator.csv')

df.head()

                 time   hr
0 2018-09-29 17:39:00  103
1 2018-09-29 17:40:00  106
2 2018-09-29 17:41:00  102
3 2018-09-29 17:42:00   79
4 2018-09-29 17:43:00   88

ta-libを使う(ta-libはdfを読めないからnp.arrayにしてあげる)

In [59]:
import talib as ta
ta.get_function_groups

hr = np.array(df['hr'], dtype='f8')

In [60]:
ta.RSI(hr)

array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan, 42.47787611,
       45.09421702, 38.01778265, 43.54167712, 39.72867514, 39.05893812,
       38.02349048, 38.60772187, 37.46666127, 47.49387818, 39.84814592,
       40.3650819 , 41.97610066, 44.14281874, 46.3022351 , 44.01178392,
       44.01178392, 40.73963109, 42.06495668, 44.08500817, 45.45054968,
       45.45054968, 38.84859453, 42.5904824 , 61.06409347, 48.46723869,
       45.12557753, 46.87859347, 48.21478175, 50.87615115, 45.4285533 ,
       51.83679339, 51.83679339, 51.37038725, 57.17927356, 52.36744548,
       50.9813637 , 49.56844414, 46.34117978, 46.34117978, 44.88854199,
       46.10153984, 57.24830474, 48.0130767 , 45.1248587 , 45.1248587 ,
       47.7296171 , 45.40841568, 51.95123779, 42.63800775, 46.8367612 ,
       50.31795178, 49.44623721, 46.82540718, 52.67796611, 49.09678723,
       46.14097707, 48.52482183, 49.48789578, 55.33721851, 47.5781755 ,
       46.74771876, 47.24355633, 47.76731144, 52.81236372, 48.29150226,
       48.29150226, 62.0911267 , 49.22886908, 48.50744688, 48.91058629,
       50.57737782, 47.64773065, 49.88088652, 56.65140802, 50.20664486,
       53.61620581, 56.80171086, 50.20105584, 49.42785542, 52.57441937,
       47.05658875, 49.11080478, 55.1127479 , 51.43776287, 47.63684348,
       49.64058613, 51.63375095, 46.4825283 , 46.92119946, 50.42229964,
       50.85863992, 48.55746505, 47.62913534, 48.68563625, 46.65830923,
       53.44362634, 47.89222756])

'99'

In [82]:
sns.relplot(data=df,  kind="line")

AttributeError: module 'seaborn' has no attribute 'relplot'